[submodule "mobile-metrics-api"]
	path = mobile-metrics-api
	url = git@github.com:matsoftware/mobile-metrics-api
[submodule "mobile-metrics-dashboard"]
	path = mobile-metrics-dashboard
	url = git@github.com:matsoftware/mobile-metrics-dashboard
[submodule "mobile-metrics-scripts"]
	path = mobile-metrics-scripts
	url = git@github.com:matsoftware/mobile-metrics-scripts.git
